<div class="content-loader">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="width: 85%; float: left;"><input type="file" file-change="upload($event,files)" ng-model="Files" multiple /></div>
            <div style="height: 22px;"><span ng-show="isUploading">Uploading...</span></div>
        </div>
        <div class="panel-body" ng-show="Files.length">
            <div class="form-group">
                <label for="comment">Comments:</label>
                <textarea class="form-control" rows="4" ng-model="comments"></textarea>
            </div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <td>Filename</td>
                        <td>Zodiac</td>
                        <td>Count records</td>
                    </tr>
                </thead>
                <tr ng-repeat="item in Files">
                    <td width="50%">{{ item.fileName }}</td>
                    <td width="20%">{{ item.zodiac }}</td>
                    <td width="10%">{{ item.data.length  }}</td>
                </tr>
            </table>
            <button type="button" class="btn btn-warning pull-left" ng-click="cancel()" ng-disabled="isUploading">Cancel</button>
            
            <button type="button" class="btn btn-success pull-right" ng-click="send()" ng-disabled="isUploading">Send to server</button>
        </div>
    </div>

</div>
