.index {
    .img-zodiac{
        width: 80%;
        height: 80%;
        margin-top: 40px;
    }
    
    .panel-login{
        //max-width: 266px;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 60%;
    }
    .button-login{
    }
    .panel-login-header{
        background-color: white;
    }
    .zodiac-block{
        max-height: 600px;
        min-height: 600px;
        min-width: 800px;
    }
    .col-sm-3{
        min-width: 60px;
    }
}