
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="faq">
    <div class="row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-10 col-md-10 description">

            <div class="tab-content" style="padding:0; background: #fff;">
                <!-- START TAB 1 -->
                <div class="tab-pane active" id="tab_1">
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#accordion1_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        Are you aware that your website is called Trading Horoscope?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1_1" style="height: 0px;">
                                <div class="panel-body">
                                    Yes.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        So you guys are shrinks, right? You are those weird people who bet on stocks using stars, migratory patterns of elephants, and technical analysis?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1_2" style="height: 0px;">
                                <div class="panel-body">
                                    No.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#accordion1_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        How do you generate trading signals then?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1_3" style="height: 0px;">
                                <div class="panel-body">
                                    Pure statistics. Our signals are generated according to a rules-based statistical approach.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#accordion1_4" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                                        If you use statistics, why horoscope?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in" id="accordion1_4" style="height: auto;">
                                <div class="panel-body">
                                    There are three major reasons we decided to move forward with the concept of horoscope. <b>First of all</b>,
                                    we wanted to generate trading ideas on the daily basis. <b>Secondly</b>, we wanted to
                                    come up with an alternative to the traditional stock classifications. <b>Third of all</b>,
                                    we wanted to make it easy and fun for you to follow our trading ideas…Trading Horoscope
                                    turned out to be the most elegant solution.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#accordion1_5" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        Got you on horoscope. Now tell me what’s up with the zodiac signs?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1_5">
                                <div class="panel-body">
                                    Every person has a date of birth. Similarly, every company has a date of birth, also known as the Date of Incorporation.
                                    We collected the Dates of Incorporation of the
                                    <a href="http://www.amazon.com/500-Playbook-trends-serious-market-ebook/dp/B00MQCNL0Q">S&amp;P 500</a>                                    components and classified these components into 12 zodiac signs. This is really where
                                    Astrology ended.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#accordion1_6" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        Can I use your trading signals for trading?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1_6" style="height: 0px;">
                                <div class="panel-body">
                                    <p>
                                        Even if a specialized committee of the world best traders and investors, including Warren
                                        Buffet, Paul Tudor Jones, Marty Schwartz, and Bruce Kovner told you to purchase Stock
                                        XYZ, you should NEVER put your real money without checking this stock for yourself.
                                    </p>

                                    <p>
                                        We have done a lot of hard-core research to give you the best trading ideas, with the
                                        highest historical returns, and most optimized risk-reward ratios. We have back-tested
                                        hundreds of short-term trading strategies on 1000+ names and selected the absolute
                                        winners…
                                    </p>

                                    <p>
                                        …BUT trading ideas presented on this website are based on historical data. History tends
                                        to repeat itself, but there is always a chance for different market conditions, due
                                        to macro-economic factors, sector-specific news, or stock-specific events, including
                                        change in management, insider buying/selling, special dividend, earnings, etc. In
                                        short, when things hit the fan, the greenish glasses of profits turn bloody red.
                                    </p>

                                    <p>
                                        We want to clarify that you can lose money trading our ideas. In fact, our data collected
                                        between 2012 and 2014 shows that approximately 40% of our daily signals have been
                                        unprofitable. It means that had you traded our signals in the past, you would have
                                        lost money in 40% of the cases. Moreover, this ratio can become even worse in the
                                        future. NEVER put your real money without consulting with your licensed financial
                                        advisor.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#accordion1_7" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        Why would I need to subscribe then?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1_7" style="height: 0px;">
                                <div class="panel-body">
                                    <p>
                                        You should subscribe to our newsletter and follow our website to emerge yourself in the
                                        world of trading.
                                    </p>

                                    <p>
                                        Simple analogy: before obtaining your driver’s license, you need to learn traffic regulations.
                                        There are two ways to do that. The boring way is to study the Driver’s Manual by
                                        yourself. The cool way is to ask a driving instructor who would briefly summarize
                                        the most important rules you need to know. You still need to read the Driver’s Manual,
                                        but it is so much easier to manage it once you have an idea about what’s going on.
                                        Of course, the actual driving is the most important step, but you would be nuts to
                                        drive on a highway without knowing how to switch lanes.
                                    </p>

                                    <p>
                                        Trading is a highway, crowded with high-frequency Ferraris, institutional trucks (often
                                        hauling Hazardous materials), and just idiot drivers. We strongly recommend you to
                                        use our platform to learn the key trading metrics that could help you analyze your
                                        own trading strategies before you deposit any real money to the Stock Exchange highway.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#accordion1_8" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                        OK. What are my next steps?
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="accordion1_8">
                                <div class="panel-body">
                                    <p>
                                        Your first step is to subscribe to our newsletter, follow it on a daily basis, and master
                                        all financial metrics presented on this website.
                                    </p>

                                    <p>
                                        Your second step is to open a free virtual trading account with one of the leading platforms,
                                        such as <a href="http://www.investopedia.com/simulator/">Stock Simulator</a>, and
                                        experiment with our trading ideas and trading ideas of your own. Paper trading is
                                        one of the best exercises in the world of trading, since your risk of losing real
                                        money is equal to zero.
                                    </p>

                                    <p>
                                        Once you feel comfortable with generating new trading ideas, managing risk, and making
                                        rational decisions regarding both winning and losing trades, your next step is to
                                        start considering trading with small chunks of real money.
                                    </p>

                                    <p>
                                        Trading is a risky enterprise, because you can lose money. Trading is a skill, and trading
                                        is NOT for everyone. But how do you know that you are NOT a trader if you never tried
                                        it?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-md-1"></div>

    </div>
</div>

