@{
    ViewBag.Title = "Our products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="products">
    <div class="row">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-8 col-xs-8 description">
            <p class="description-header">
                Take advantage of years of trial and error Peter went through to learn how to be successful with trading and
                investing.
            </p>
            <p class="description-content">
                Check out his full program catalog, jam-packed with new ideas and techniques that deliver results. These programs are the
                best on the planet for getting you the trading results you want. And each one has a RISK FREE Trial – so
                if you don’t see immediate results, you can get all your money back, guaranteed.
            </p>

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="product-img">
                            <a href="http://www.stockinvestments.nyc/beat-the-market-crash-course/">
                                <img src="~/Content/Images/products/market.png">
                            </a>
                        </div>
                        <div class="carousel-caption">
                            <div class="product-link"><a href="http://www.stockinvestments.nyc/beat-the-market-crash-course/">Beat the Market Crash Course</a></div>
                            <div class="product-description">
                                Here you’ll get intensive “boot camp style” training with step-by-step techniques for creating your own trading strategies,
                                learning the right mindsets, and receiving daily trading signals…
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-img">
                            <a href="http://www.stockinvestments.nyc/sp-500-playbook/">
                                <img src="~/Content/Images/products/book.png">
                            </a>
                        </div>
                        <div class="carousel-caption">
                            <div class="product-link"><a href="http://www.stockinvestments.nyc/sp-500-playbook/">S&P 500 PlayBook</a></div>
                            <div class="product-description">
                                Learn the foundation of Peter Borovykh’s teachings. Exact steps and specific directions to help you be a more successful
                                trader..
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>
</div>

