.index {
    .img-zodiac{
        width: 60%;
        height: 60%;
        margin-top: 40px;
        margin-left:15%;
    }
    
    .zodiac-block{
        // max-height: 600px;
        // min-height: 600px;
        // min-width: 750px;
    }
    .col-sm-3{
        min-width: 60px;
    }
    .player{
    }
    
}